@model Product

<div class="col mb-5">
    <div class="card h-100 shadow-sm" style="transition: 0.3s;">
        <!-- Product image -->
        <a href="/Products/Details/@Model.Id">
            <img class="card-img-top" src="~/Img/Products/@Model.Image" alt="@Model.Name" style="max-height: 200px; object-fit: contain;">
        </a>
        <!-- Product details -->
        <div class="card-body p-3">
            <div class="text-center">
                <!-- Product name -->
                <p class="mb-1">@Model.Name</p>
                <!-- Product price -->
                <span style="color: #ff9800; font-weight: bold;">@Model.Price.ToString("c")</span>
            </div>
        </div>
        <!-- Product actions -->
        <div class="card-footer p-3 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
                <a class="btn btn-dark w-100 py-2" href="/Cart/Add/@Model.Id">Sepete Ekle</a>
            </div>
        </div>
    </div>
</div>

<style>
    .card:hover {
        background-color: #f8f9fa;
        transform: scale(1.02);
    }
</style>
